<main>
    <section class="acerca-de">
        <h2 class="text-center border border-0 border-bottom border-2 rounded-4">Acerca de
            <i class="fa-solid fa-vial"></i>
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nisi quam inventore! Doloremque
            exercitationem, deleniti fugiat expedita quidem dicta sit odio facilis tempora vitae corrupti obcaecati
            cumque quia veniam quasi.
        </p>
    </section>
    <section>
        <h2 class="text-center border border-0 border-bottom border-2 rounded-4">Experiencia</h2>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-9 border border-dark border-2 rounded-5 mb-1">
                        <h3 class="text-center">Laburo 1</h3>
                        <ul>
                            <li *ngFor="let nombre of miPortfolio.trabajos.primero">
                                <p>
                                    {{nombre}}
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </article>

        <article>
            <div class="container text-end">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-9 border border-2 rounded-5">
                        <h3 class="text-center">Laburo 2</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt id, atque voluptate
                            dolorum ipsam
                            culpa facilis, voluptatibus quas vel, aperiam eaque eum iusto? Libero molestiae
                            cupiditate
                            doloremque, nobis deleniti modi!
                            Architecto debitis sit nam ratione consequatur deserunt, dolorem magni maiores quod
                            assumenda
                            blanditiis nulla ut cupiditate ab porro asperiores. Cum aliquid hic saepe minus tempora
                            magnam
                            suscipit deleniti magni est!
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <h2 class="text-center border border-0 border-bottom border-2 rounded-4">Educación</h2>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Estudios Secundarios</h3>
                    <ul>
                        <li>
                            <p>Nombre de la institución: {{miPortfolio.estudios.secundario.institucion}}</p>
                        </li>
                        <li>
                            <p>Orientación: {{miPortfolio.estudios.secundario.orientacion}}</p>
                        </li>
                        <li>
                            <p>Año de egreso: {{miPortfolio.estudios.secundario.anio_egreso}}</p>
                        </li>
                    </ul>

                </div>
                <div class="col">
                    <h3>Estudios universitarios</h3>
                    <ul>
                        <li>
                            <p>Título obtenido: {{miPortfolio.estudios.universitario.titulo}}</p>
                        </li>
                        <li>
                            <p>Facultad: {{miPortfolio.estudios.universitario.facultad}}</p>
                        </li>
                        <li>
                            <p>Universidad: {{miPortfolio.estudios.universitario.universidad}}</p>
                        </li>
                        <li>
                            <p>Año de egreso: {{miPortfolio.estudios.universitario.anio_egreso}}</p>
                        </li>
                        <li>
                            <p>Calificación: {{miPortfolio.estudios.universitario.promedio}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2 class="text-center border border-0 border-bottom border-2 rounded-4">H&S y Proyectos</h2>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Hard & Soft Skills</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam doloribus est sed in
                        maiores nisi saepe commodi nulla illo nemo, praesentium accusantium natus sunt esse
                        blanditiis ea cum maxime vero!</p>
                </div>
                <div class="col">
                    <h3>Proyectos</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus adipisci quidem illo,
                        quas quo delectus unde, accusantium assumenda corporis perspiciatis tenetur qui eum nam eos?
                        Veritatis corporis sed repudiandae ad!</p>
                </div>
            </div>
        </div>
    </section>
</main>