body {
    background-color: grey;
}

footer {
    font-family: 'Dosis', sans-serif;
    width: 75%;
    margin: 0 auto;
    border-radius: 50%;
}

.menuNav {
    display: flex;
    flex-direction: row !important;
}